html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;

}

img {
    display: block;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  

a {
    color: black;
    text-decoration: none;
}


.horizontal-divider {
    position: absolute;
    z-index: 11;
    width: 100%;
    height: 1px;
    left: 0;
    background-color: #e5e5e5;
}

.app {
    display: flex;
    /*for footer press*/
    height: 100%;
    flex-direction: column;
    padding: 0 20px;
    min-width: 335px;
    /* for start page*/
    position: relative;
}


.content {
    flex: 1 0 auto;
}

.bottom {
    flex: 0 0 auto;
}


.header {

    width: 100%;
    display: flex;
    height: 7rem;
    align-items: center;
}

.header__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.header__info-wrapper {
    display: flex;
}

.logo__short {
    font-size: 24px;
    font-family: "Open Sans";
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.708;
      
}

.logo__long {
    font-size: 26px;
    font-family: "Open Sans";
    font-weight: bold;
    line-height: 2.5;
    text-align: left;
      
}

.email-sign-up {
    display: block;
    font-size: 12px;
    font-family: "Roboto";
    color: rgb(0, 0, 0);
    line-height: 5.417;
    text-align: left;
    margin-right: 40px;
}


.shopping-bag-preview {
    display: flex;
    margin-left: 30px;
}

.shopping-bag-preview__text::before {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    background-image: url(../img/ico_bag.png);
    background-repeat: no-repeat;
    background-position: center;
}



.shopping-bag-preview__text {
    display: flex;
    align-items: center;
}

.menu{
    margin-left: auto; 
}

.hamburger-btn {
    display: none;
}

.hamburger-btn__label {
    display: block;
    width: 55px;
    text-align: center;
    font-size: 26px;
    line-height: 70px;
    cursor: pointer;
}

.hamburger-icon {
    display: block;
    width: 14px;
    height: 2px;
    background-color: #000;
    position: relative;
    margin: 0 auto;
    transition: width 0.2s, height 0.2s, background-color 0.2s, transform 0.2s;
}

.hamburger-icon::before, 
.hamburger-icon::after  {
    content: '';
    display: block;
    position: absolute;
    width: 14px;
    height: 2px;
    background-color: #000;
    transition: width 0.2s, height 0.2s, background-color 0.2s, transform 0.2s;

}

.hamburger-icon::before{
    transform: translateY(5px)
}
.hamburger-icon::after{
    transform: translateY(-5px)
}

#hamburger-btn:checked ~ .hamburger-btn__label span {
    background-color: rgba(255, 255, 255, 0);
}

#hamburger-btn:checked ~ .hamburger-btn__label .hamburger-icon::before, 
#hamburger-btn:checked ~ .hamburger-btn__label .hamburger-icon::after {
    margin-top: 0;
}

#hamburger-btn:checked ~ .hamburger-btn__label .hamburger-icon::before {
    background-color: #f14a58;
    transform: rotate(45deg);
}
#hamburger-btn:checked ~ .hamburger-btn__label .hamburger-icon::after {
    background-color: #f14a58;
    transform: rotate(-45deg);
}



.nav {
    width: 100vw;
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 10;
    background-color: #fff;
    display: none;
}

#hamburger-btn:checked ~ .nav {
    display: block;
}

.nav__list {

    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 24px;
    list-style: none;
}

.nav__item{
    margin-bottom: 30px;
}

.nav__item:last-of-type {
    margin-bottom: 0;
}

.nav__list a:active,
.nav__list a:hover, 
.nav__list a:focus {
    color: #f14a58;
}

.search {
    max-width: 170px;
    position: relative;
    border: none;
    display: inline-block;
    vertical-align: middle;
    height: 35px;
}

.search__bar {
    height: 35px;
    padding-left: 10px;
    padding-right: 35px;
    line-height: 35px;
    width: 100%;
    display: block;    
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 12px;
    border: none;
    box-shadow: 0 2px rgba(0, 0, 0, 0.2);

}

.search__bar::placeholder { 
    color: #cfcfcf; 
}

.search__btn {
    position: absolute; 
    top: 0; right: 0;
    height: 100%;
    width: 35px;
    line-height: 35px;
    text-align: center;
    background: none;
    border: none;
}

.search__btn > i {
    color: #cfcfcf;
}


.page-title {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 18px; 
    font-weight: 700;
    line-height: 65px;
    text-align: left;
}

.item-img__wrapper {
    display: block;
    position: relative;
}

.new-false {
    display: none;
}

.new-true {
    position: absolute;
    top: 20px;
    left: 0;   
    background-color: #f14a58;
    width: 53px;
    height: 26px;
    color: #ffffff;
    font-size: 13px; /* Приближение из-за подстановки шрифтов */
    font-weight: 500;
    line-height: 27px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
}

.item-preview__wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* padding: 0 20px; */
}

.item-preview {
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    margin-top: 10px;

}

.item-preview__description {
    margin: 10px auto 7px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    line-height: 24px;
}

.item-preview__price {
    margin: 0 auto;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 12px;
}

.hidden {
    display: none;
}


.button {
    display: block;
    margin: 0 auto;
    background: #fff;
    border: #e5e5e5 1px solid;
    color: #000;
    font-size: 20px;
    font-weight: 700;
    max-height: 74px;
    cursor: pointer;
}

.button__call-to-action {
    width: 220px;
    height: 74px;
    margin-top: 35px;
}

.button:focus,
.button:hover,
.button:active {
    border: #f14a58 1px solid;
    color: #f14a58
}


.feature-option {
    cursor: pointer;
    display: inline-block;
    margin: 30px;
    min-width: 80px;
    padding: 12px 24px;
    font-size: 13px;
    color: #000;
    font-weight: 700;
    max-height: 74px;
    margin: 0 auto;
    background: #fff;
    border: none;
}

.radio-btn {
    display: none;
}

.radio-btn:checked + .feature-option {
    border: #e5e5e5 1px solid;

}

.hover-layer {
    display: none;
    position: absolute;
    width: 158px;
    height: 223px;
    opacity: 0.45;
    background-color: #000;
    z-index: 9;

}

.hover-text {
    display: none;
    position: absolute;
    bottom: 20%;
    right: 0;
    left: 0;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    color: #f14a58;
    font-size: 22px; 
    font-weight: 700;
    text-align: center;
    z-index: 10;
}


.item-img__wrapper:hover .hover-layer {
    display: block;
}

.item-img__wrapper:hover .hover-text {
    display: block;
}

.site-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .info-links {
      width: 100%;
      display: flex;
      margin-top: 35px;
      padding-bottom: 30px;
  }

  .info-links__list{
      width: 50%;
      padding-left: 10%;
  }

  

  .info-title{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #000;
    font-size: 14px;
    letter-spacing: 0.4px;
    margin-bottom: 20px;
  }
  .info-links__list-links{
      margin: 0 auto;
      list-style: none;
  }
  .info-item{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 36px;
    letter-spacing: 0.4px;
    color: #000;
    text-decoration: none;
  }

  .info-item-wrapper > a {
      display: block;
  }

  .info-item-wrapper img {
      display: unset;
      width: unset;
  }
  
  .contacts{
    display: flex;
    justify-content: center;
    width: 100%;
  }       

  .contacts__wrapper {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    width: 100%;
    padding-bottom: 35px;
  }
  .contacts__socials{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contacts .info-title {
    margin: 0;
  }

  .contacts__phone{
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .contacts__info {
        max-width: 315px;
        font-size: 16px;
        font-family: "Libre Baskerville", serif;
        color: rgb(117, 117, 117);
        font-style: italic;
        line-height: 1.875;
  }
  


.footer {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 10px;
}

.footer__links,
.footer__service-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 20px; */
    height: 65px;

} 

.service-links__item{
    margin-right: 15px;
}

.social-links__item {
    margin-left: auto;
}

.social-links__item>a {
    display: block;
    width: 20px;
    height: 17px;

}

.social-links__item.fb > a{
    background: url(../img/fb.png) center center no-repeat;
}
.social-links__item.tw > a {
    background: url(../img/twi.png) center center no-repeat;
}


.list > li {
    display: inline-block;
    list-style: none;
}


.share-info {
    display: inherit;
    font-family: 'Open Sans', sans-serif;    font-size: 14px;
    font-weight: 700;
    font-size: 14px;
}

.share-info__count {
    position: relative;
    text-align: center;
    margin-left: 7px;
    padding: 4px;
    background-color: #f4f4f4;
    height: 20px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 10px;
}

.share-info__count::before{
    content: "";
    position: absolute;
    left: -9px; 
    bottom: 5px; 
    border: 5px solid transparent;
    transform: rotate(90deg);
}

.mobile,
.mobile-tablet {
    display: block;
}
.inline-mobile,
.inline-mobile-tablet {
    display: inline-block;
}

.tablet,
.tablet-desktop ,
.desktop {
    display: none;
}
.inline-tablet,
.inline-tablet-desktop ,
.inline-desktop {
    display: none;
}



@media (min-width: 768px){

    .app {
        padding: 0 40px;
    }



    .header {
        height: 120px;
        display: block;
        
    }
    

    .nav{
        position: unset;
        width: 100%;
    }
    
    .nav__list {
        flex-direction: row;
        padding: 0;
        font-size: 12px;
        font-family: "Open Sans", sans-serif;
        font-weight: bold;
        text-align: left;
 
    }



    .nav__item:last-of-type{
        margin-left: auto;
    }

    .nav__item:not(:last-of-type) {
        padding-top: 10px;
        margin-right: 10px;
    }

    .search {
        max-width: 155px;
    }

    .search__bar {
        box-shadow: none;
    }

    .search__bar:focus,
    .search__bar:hover {
        box-shadow: 0 2px rgba(0, 0, 0, 0.2);

    }

    .search__bar {
        opacity: 0;
    }
    .search__bar:focus,
    .search__bar:hover,
    .search__bar:active {
        opacity:1;
        box-shadow: 0 2px rgba(0, 0, 0, 0.2);
        border: none;

    }

    .button_call-to-action {
        width: 340px;
    }



    .site-info {
        flex-direction: row;
        justify-content: space-between;
        max-width: 690px;

        margin: 0 auto;
    }

    .contacts {
        flex-direction: column;
        justify-content: flex-start;
        padding-left: 45px;
        margin-top: 35px;
    }

    .contacts__wrapper {
        display: block;
        padding-top: 0;
    }

    .contacts__socials{
        border: none;
        padding: 0;
    }

    .contacts__phone {
        padding: 0;
        margin-top: 20px;
    }

    .social-links {
        margin-top: 40px;
    }

    .footer {
        flex-direction: row;
    }

    .footer__service-info {
        flex-grow: 1;
        order: 1;
    }

    .copywrite {
        font-size: 12px;
    }

    .share-info {
        margin-left: auto;
        font-size: 16px;
    }

    .footer__links {
        flex-grow: 1;
        order: 2;
        justify-content: flex-end;
        font-size: 12px;

    }

    .mobile-tablet,
    .tablet,
    .tablet-desktop {
        display: block;
    }

    .mobile,
    .desktop {
        display: none;
    }
    .inline-mobile-tablet,
    .inline-tablet,
    .inline-tablet-desktop {
        display: inline-block;
    }

    .inline-mobile,
    .inline-desktop {
        display: none;
    }


}

@media (min-width:1024px){

    .app{
        padding: 0 60px;
        max-width: 1300px;
        margin: 0 auto;
    }

     .header{
        margin: 0 auto;
    }

    .main {
        display: flex;
        align-items: center;
    }



    .nav__list {
        font-size: 16px;
    }

    .nav__item:not(:last-of-type) {
        margin-right: 18px;
    }


    .search {
        width: 200px;
        box-shadow: 0 2px rgba(0, 0, 0, 0.2);

    }

    .search__bar {
        opacity: 1;
    }
 
    .button_call-to-action {
        font-size: 24px;
    }

    .site-info {
        max-width: 1300px;
    }


    .contacts__wrapper {
        display: flex;
        justify-content: flex-start;
    }

    .contacts__socials,
    .contacts__phone {
        padding: 0;
        margin: 0;
    }

    .contacts__phone {
        padding-left: 100px;
    }

    .info-title {
        font-size: 16px;
    }

    .social-links {
        margin-top: 50px;
    }

    .tablet-desktop,
    .desktop {
        display: block;
    }

    .mobile,
    .mobile-tablet,
    .tablet {
        display: none;
    }
    .inline-tablet-desktop,
    .inline-desktop {
        display: inline-block;
    }

    .inline-mobile,
    .inline-mobile-tablet,
    .inline-tablet {
        display: none;
    }
}
